body {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #424456;
  line-height: 24px;
  margin-bottom: 100px;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 700px;
}

h1 {
  font-size: 35px;
  margin-top: 60px;
  margin-bottom: 80px;
  font-family: 'Open Sans', sans-serif;
  line-height: 48px;
}
h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 29px;
  font-family: 'Open Sans', sans-serif;
}
h3 {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
span {
  background-color: #f4f5f6;
  padding: 4px;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
}

code {
  display: block;
  background-color: #f4f5f6;
  padding: 5px 10px 5px 10px;
  border-left: rgb(87, 87, 219) 4px solid;
  overflow-y: auto;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 100;
}
li {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
